#search-results #video-grid {
    height: calc(100vh - 50px - 20px - 95px);   
}

#search-results .filters {
    height: 200px;
    padding-left: 5px;
    overflow-y: scroll;
}

.filters .tag {
    margin-right: 3px;
    cursor: pointer;
    margin-bottom: 3px;
}

.filters .tag {
    background-color: darksalmon;
}

.filters .tag.selected {
    background-color: darkred;
}

.filters .person-circle.not-selected {
    opacity: 0.6;
}